autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.2.2
entrypoints==0.3
flake8==3.7.9
future==0.18.2
gym==0.7.4
idna==2.8
mccabe==0.6.1
numpy==1.18.1
Pillow==8.2.0
pybullet==2.6.5
pycodestyle==2.5.0
pyflakes==2.1.1
pyglet==1.4.10
requests==2.22.0
scipy==1.4.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
urllib3==1.26.5
